@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
   --bg-color: #1E1E1E;
   --text-color: #FFFFFF;
   --brand-color: #B9F501;
   --black: #1E1E1E;
   --white: #FFFFFF;
   --grey: #4C4C4C;
}

body {
   background-color: var(--bg-store-color);
   font-family: "Chakra Petch", sans-serif;
   background: var(--black);
}

p,
span,
a,
strong,
label,
h1,
h2,
h3,
h4,
h5,
h6,
.titulo,
.cor-secundaria {
   font-family: "Chakra Petch", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: var(--white);
}

/* ------------------- Components */

/* Container geral */
.conteiner {
   max-width: 100%;
   padding: 0 16px;
}

/* Botão */

.botao, .btn {
   background: var(--brand-color)!important;
   color: var(--black)!important;
   padding: 12px 24px;
   border: 0;
   border-radius: 0;
   height: 48px!important;
   box-sizing: border-box;
   display: flex;
   align-items: center;
   font-size: 16px;
   justify-content: center;
}

/* Input */

input {
   background: var(--black)!important;
   color: var(--white)!important;
   height: 48px!important;
   padding: 0 16px!important;
   border-radius: 0!important;
   border: 1px solid rgba(255,255,255,.1)!important;
   font-family: "Chakra Petch", sans-serif;
}

input:focus {
   box-shadow: 0 0px 10px var(--brand-color)!important;
   border: 1px solid var(--brand-color)!important;
}

/* --------------- ícones */
.icon-shopping-cart::before {
   content: "";
   background: url(https://cdn.awsli.com.br/2923/2923109/arquivos/cart.svg) center no-repeat;
   background-size: 100%;
   width: 24px;
   height: 24px;
}

.icon-user::before {
   content: "";
   background: url(https://cdn.awsli.com.br/2923/2923109/arquivos/user.svg) center no-repeat;
   background-size: 100%;
   width: 24px;
   height: 24px;
}

.icon-search::before {
   content: "";
   background: url(https://cdn.awsli.com.br/2923/2923109/arquivos/search.svg) center no-repeat;
   background-size: 100%;
   width: 24px;
   height: 24px;
}

/* --------------- Ajustes gerais */

/* Cabeçalho */

#barraTopo {
   display: none !important;
}

#cabecalho {
   background: var(--black);
   border-bottom: 1px solid rgba(255, 255, 255, .1);
   position: sticky;
   z-index: 10000;
   top: 0;
}

#cabecalho .conteiner .conteudo-topo > .superior {
   display: none !important;
}

#cabecalho {
   background: var(--black);
}

#cabecalho .conteudo-topo .inferior {
   display: flex;
   align-items: center;
   margin: 0;
   gap: 32px;
}

.carrinho>a > span {
   display: none !important;
}

#cabecalho .conteudo-topo .inferior .span4.hidden-phone {
   width: max-content;
   margin: 0;
   display: flex;
   align-items: center;
}

.carrinho {
   border: 0;
   background: none;
}

.carrinho > a {
   display: flex;
   align-items: center;
   gap: 4px;
}

.carrinho>a i {
   width: 24px;
   height: 24px;
   background: none;
   line-height: 24px;
   font-size: 0;
}

.carrinho>a strong {
   color: var(--black);
   background: var(--brand-color);
   width: 24px;
   height: 24px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 12px;
   font-weight: 600;
   margin: 0;
}

.logo a {
   height: 60px;
}

.menu.superior {
   margin: 0;
   padding: 0;
   flex: 1;
   background: none;
}

.menu.superior .nivel-um {
   display: flex;
   gap: 10px;
   align-items: center;
}

.menu.superior .nivel-um li {
   border: 0;
}

.menu.superior .nivel-um li strong {
   color: var(--white);
}

#cabecalho > .conteiner > .row-fluid > .span3 {
   width: 170px;
}

#cabecalho .span8.busca-mobile {
   max-width: 250px;
   margin: 0;
}

.busca #form-buscar {
   display: flex;
   width: 100%;
}

.busca {
   border: 0;
   padding: 0;
   background: none;
}

.busca .botao-busca {
   right: 1px;
   top: 1px;
   background: transparent!important;
   padding: 12px 16px;
}

#cabecalho .conteudo-topo.span9 {
   width: 100%;
}

#cabecalho > .conteiner > .row-fluid {
   display: flex;
   align-items: center;
}

#cabecalho .conteudo-topo .inferior:before, #cabecalho .conteudo-topo .inferior:after {
   display: none;
}

a.h-user {
   font-size: 14px;
   color: var(--white);
   font-weight: 600;
   height: 48px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 8px;
   text-decoration: none;
}

/* Banners */

/* Começa texto do banner */
.banner-text {
   position: absolute;
   left: 0;
   bottom: 0;
   padding: 40px;
   display: flex;
   flex-direction: column;
   gap: 24px;
}

.bn-text-price {
   display: flex;
   flex-direction: column;
   font-size: 24px;
   color: #fff;
   gap: 4px;
}

.bt-t-button {
   width: fit-content;
}

.bn-t-price {
   color: var(--brand-color)
}

.secao-banners .conteiner {
   padding: 16px;
}

.banner .flex-control-paging li a {
   background: #fff;
   opacity: .6;
   width: 20px;
   height: 3px;
   border: 0;
   position: relative;
}

.banner .flex-control-paging li a.flex-active {
   width: 32px;
   height: 3px;
   background: var(--brand-color);
   border: 0;
   opacity: 1;
}

.flex-direction-nav .flex-prev {
   position: relative;
   left: 0;
   opacity: 1;
   margin: 0;
   background: url(https://cdn.awsli.com.br/2923/2923109/arquivos/chevron-left.svg) center no-repeat;
   width: 40px;
   height: 40px;
   background-color: var(--brand-color);
}

.flex-direction-nav .flex-next {
   opacity: 1;
   right: 0;
   position: relative;
   margin: 0;
   background: url(https://cdn.awsli.com.br/2923/2923109/arquivos/chevron-right.svg) center no-repeat;
   width: 40px;
   height: 40px;
   background-color: var(--brand-color);
}

.flexslider:hover .flex-direction-nav .flex-prev {
   left: 0;
}

.flexslider:hover .flex-direction-nav .flex-next {
   right: 0;
}

.banner .flex-control-nav {
   width: max-content;
   position: relative;
   padding: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   right: 0;
   bottom: 0;
}

.banner .flex-direction-nav:before,
.banner .flex-direction-nav:after {
   display: none;
}

.banner .flex-direction-nav {
   position: absolute;
   right: 40px;
   bottom: 40px;
   display: flex;
   align-items: center;
   gap: 24px;
}

.mini-banner .modulo.span4:nth-child(3) {
   display: none!important;
}

.mini-banner .modulo.span4 {
   width: 100%;
   margin: 0;
}

.mini-banner {
   display: flex;
   gap: 16px;
}

.mini-banner:before, .mini-banner:after {
   display: none;
}

.mini-banner > div:not(.modulo.span4) {
   display: none;
}

/* Termina texto do banner */



/* Listagem */

.listagem .span3 .imagem-produto, .listagem .produtos-carrossel[data-produtos-linha="4"] .imagem-produto {
   height: fit-content;
   width: 100%;
}

.listagem .imagem-produto img {
   position: relative;
   width: 100%;
}

.listagem .listagem-item {
   margin: 0;
   padding: 0;
   transition: all .4s;
}

.listagem .listagem-linha>ul {
   margin-left: 0;
}

.listagem .titulo-categoria {
   font-size: 28px;
   background: none !important;
   padding: 0 !important;
   height: 60px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
   border: 0;
   margin: 48px 0 32px !important;
}

.listagem .vitrine-lancamento:after {
   content: "Confira o que há de novo no mundo dos games.";
   display: block;
   font-size: 16px;
   color: var(--white);
}

#listagemProdutos {
   padding: 0 32px;
   display: flex;
   flex-direction: column;
   gap: 24px;
}

.listagem .info-produto {
   padding: 24px;
}

.listagem .preco-produto>div {
   display: flex;
   flex-direction: column;
}

.listagem .preco-produto>div .titulo {
   margin: 0;
}

.listagem .preco-produto>div .titulo {
   margin: 0;
   font-size: 14px;
   opacity: .7;
}

.listagem .preco-produto>div strong.titulo {
   font-size: 22px;
   font-weight: 700;
   color: var(--brand-color);
   margin-bottom: 8px;
   opacity: 1;
}

.listagem .span3 .listagem-item .nome-produto, .listagem .produtos-carrossel[data-produtos-linha="4"] .listagem-item .nome-produto {
   max-height: 47px;
   min-height: 40px;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2;
   overflow: hidden;
   white-space: normal;
   text-overflow: ellipsis;
   line-height: 20px;
}

.bandeiras-produto span {
   border: 0;
   box-shadow: none;
   padding: 4px 8px;
   line-height: 16px;
   font-size: 12px;
}

.bandeiras-produto .bandeira-promocao {
   background-color: var(--brand-color);
   color: var(--black) !important;
}

.bandeiras-produto .adicionado-carrinho {
   background-color: var(--black);
   color: var(--white) !important;
}

.listagem-item .preco-parcela strong, .listagem-item .desconto-a-vista strong {
   font-weight: normal;
}

.listagem-item .preco-parcela, .listagem-item .desconto-a-vista {
   font-size: 14px;
}

.listagem .listagem-item:hover {
   background: #fff;
}

.listagem .listagem-item:hover .info-produto * {
   color: #000!important;
   font-weight: 500;
}

.listagem-item:hover .acoes-produto {
   bottom: 24px;
   right: 24px;
   padding: 0;
   border: 0;
   width: fit-content;
   left: auto;
}

.listagem .acoes-produto .botao-comprar {
   width: 48px;
   height: 48px;
   font-size: 0;
}

.listagem .acoes-produto .botao-comprar i:before {
   content: "";
   background: url(https://cdn.awsli.com.br/2923/2923109/arquivos/add_shopping_cart.svg) center no-repeat;
   background-size: 100%;
}

.listagem .acoes-produto .botao-comprar i {
   margin: 0;
}

.listagem-item .acoes-produto {
   right: 24px;
   bottom: 44px;
   left: auto;
   padding: 0;
   border: 0;
}

/* Slide de categorias */

.c-item a {
   height: 200px;
   display: flex;
   align-items: center;
   justify-content: center;
   background: #303030;
}

.c-slide .slick-track {
   display: flex;
   gap: 20px;
}

.c-slide .slick-track:before, .c-slide .slick-track:after {
   display: none;
}

.c-slide {
   margin: 0;
}

.slick-arrow {
   width: 48px;
   height: 48px;
   background: var(--black);
   border: 1px solid var(--brand-color);
   color: #fff;
   font-size: 0;
   position: absolute;
   z-index: 10;
   top: 50%;
   transform: translateY(-50%);
   display: flex !important;
   align-items: center;
   justify-content: center;
}

.slick-arrow.slick-next:before {
   content: "";
   width: 24px;
   height: 24px;
   background: url(https://cdn.awsli.com.br/2923/2923109/arquivos/chevron-right-white.svg);
   display: block;
}

.slick-arrow.slick-left:before {
   content: "";
   width: 24px;
   height: 24px;
   background: url(https://cdn.awsli.com.br/2923/2923109/arquivos/chevron-left-white.svg);
   display: block;
}

.slick-arrow.slick-prev {
   left: 0;
}

.slick-arrow.slick-next {
   right: 0;
}

.c-slide-title {
   font-size: 28px;
   font-weight: bold;
   margin: 0;
}

.c-slide-header {
   display: flex;
   flex-direction: column;
   gap: 0;
}

.c-slide-subtitle {
   font-size: 16px;
   font-weight: normal;
}

.c-slide-section {
   padding: 0 32px;
}

/* Página do produto */

.produto .nome-produto {
   font-size: 32px;
   font-weight: 600;
}

.produto .codigo-produto * {
   font-size: 12px;
   font-weight: normal;
}

.atributos .atributo-comum b {
   color: var(--brand-color);
   font-weight: normal;
}

.atributos .atributo-comum * {
   font-size: 14px;
}

.atributos ul li a {
   box-shadow: none;
   border: 1px solid var(--white);
   height: 42px;
   display: flex;
   align-items: center;
   padding: 12px 10px;
   box-sizing: border-box;
}

.atributos ul li a * {
   color: var(--white);
   font-weight: normal;
}

.atributos ul li a:hover, .atributos ul li.active a {
   border: 1px solid var(--brand-color);
}

.atributos ul li a:hover *, .atributos ul li.active a * {
   color: var(--brand-color);
}

.atributos ul li.active a span:after {
   content: "\f00c";
   width: 16px;
   height: 16px;
   display: block;
   font-family: 'FontAwesome-v4';
   margin-left: 4px;
}

.atributos ul li.active a span {
   display: flex;
}

.pagina-produto .produto > .row-fluid > .span5 {
   max-width: 500px;
   padding: 24px 56px;
   position: sticky;
   top: 100px;
}

.pagina-produto .produto > .row-fluid {
   display: flex;
   align-items: flex-start;
}

.pagina-produto .produto > .row-fluid > div {
   flex: 1;
}

.produto .acoes-produto .comprar {
   float: none;
   width: 100%;
   text-align: center;
}

.acoes-produto .preco-produto {
   float: none;
}

/* Rodapé */

#rodape .titulo {
	border: 0;
	margin: 0;
	font-size: 16px;
	padding: 0 0 20px;
}

#rodape {
	background: var(--black);
	border-top: 1px solid var(--grey);
}

#rodape .institucional,
#rodape .pagamento-selos {
	background: none;
}

.links-rodape li a {
	font-size: 16px;
}

.links-rodape li {
	list-style: none !important;
}

#rodape .redes-sociais {
	position: relative;
	background: none;
	border: 0;
	box-shadow: none;
	padding: 0;
	width: 100%;
}

#rodape .redes-sociais .titulo {
	color: #fff;
	font-weight: 500;
}

.institucional > .conteiner > .row-fluid > .span3 {
	margin: 0;
}

.institucional > .conteiner > .row-fluid {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}

.institucional > .conteiner > .row-fluid:before,
.institucional > .conteiner > .row-fluid:after {
	display: none;
}

#rodape .institucional .conteiner {
	padding: 48px 56px;
}


.lista-redes i {
    background: none!important;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lista-redes li {
    border: 0!important;
}

#rodape .institucional .lista-redes ul {
    display: flex;
    gap: 10px;
}

.gateways-rodape {
    background: none;
    border: 0;
    display: flex;
    gap: 20px;
}

.gateways-rodape li.col-md-3 {
    border: 0!important;
    width: fit-content;
    padding: 8px 12px;
    background: #fff;
    border-radius: 6px;
    align-items: center;
    display: flex;
}

.gateways-rodape li.col-md-3 img {
    max-height: 20px;
}

#rodape>div:last-child {
    background: var(--black)!important;
    border: 0!Important;
    padding: 48px 48px 32px!important;
}

#rodape>div:last-child .row-fluid {
    display: flex;
    gap: 30px;
}

#rodape>div:last-child .row-fluid:before, #rodape>div:last-child .row-fluid:after {
    display: none;
}

.feito-pixelset {
    display: flex;
    max-width: 150px!important;
    flex: 1;
}

#rodape>div:last-child .row-fluid > .span12 > p {
    text-align: left;
    font-size: 16px;
}

#rodape>div:last-child .row-fluid > .span12 {
    display: flex;
    align-items: center;
    flex: 1;
}

#rodape>div:last-child .conteiner {
    padding: 0;
}

.pagamento-selos .conteiner {
    padding: 0;
}

#rodape .pagamento-selos {
    padding: 48px;
}

.span4.pagamento, .span4.selos {
    width: fit-content;
}

.atendimento-rodape ul * {
    font-size: 16px;
}

button.whatsapp-btn {
    background: none;
    border: 1px solid var(--brand-color);
    padding: 12px 32px;
    margin-top: 10px;
}

ul.whatsapp-dropdown-menu {
    position: absolute;
    left: 0;
    bottom: 56px;
    background: var(--black);
    width: 100%;
    border: 1px solid rgba(255,255,255,.1);
    padding: 24px;
    box-sizing: border-box;
    font-size: 16px;
}

.whatsapp-dropdown {
    width: fit-content;
    position: relative;
}

ul.whatsapp-dropdown-menu li {
        margin: 12px 0;
    display: flex;
    flex-direction: column;
}

/* ------------------- Produto */

.breadcrumbs ul li a {
	font-size: 12px;
	color: #fff;
	text-decoration: underline;
}

.breadcrumbs ul,
.breadcrumbs li {
	display: flex;
	gap: 10px;
}

.breadcrumbs i {
	display: none;
}

.produto .acoes-produto .preco-produto > div:first-child {
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	justify-content: flex-end;
	gap: 10px;
}

.produto
	.acoes-produto
	.preco-produto:has(.preco-promocional)
	.preco-venda.titulo {
	color: #999;
	font-size: 12px;
}

.produto .acoes-produto .preco-produto .preco-promocional.titulo {
	font-weight: bold;
	font-size: 32px;
}

.produto .botao.botao-comprar {
	height: 60px !important;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: none;
}

.produto .botao.botao-comprar i {
	display: none;
}

.produto .acoes-produto .comprar .disponibilidade-produto {
	text-transform: uppercase;
}

.parcelas-produto .accordion {
	background: rgba(255, 255, 255, 0.05);
	padding: 0;
}

.parcelas-produto
	.accordion
	.accordion-group
	.accordion-heading
	.accordion-toggle,
.parcelas-produto .accordion .accordion-group .accordion-inner {
	padding: 16px 24px;
}

.parcelas-produto .accordion .accordion-group .accordion-body .accordion-inner {
	padding: 16px 24px;
}

.cor-principal {
	color: var(--brand-color);
}
