@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
   --bg-color: #1E1E1E;
   --text-color: #FFFFFF;
   --brand-color: #B9F501;
   --black: #1E1E1E;
   --white: #FFFFFF;
   --grey: #4C4C4C;
}

body {
   background-color: var(--bg-store-color);
   font-family: "Chakra Petch", sans-serif;
}

p,
span,
a,
strong,
label,
h1,
h2,
h3,
h4,
h5,
h6,
.titulo {
   font-family: "Chakra Petch", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* ------------------- Components */

/* Container geral */
.conteiner {
   max-width: 100%;
   padding: 0 16px;
}

/* Botão */

.botao, .btn {
   background: var(--brand-color)!important;
   color: var(--black)!important;
   padding: 12px 24px;
   border: 0;
   border-radius: 0;
   height: 48px!important;
   box-sizing: border-box;
   display: flex;
   align-items: center;
   font-size: 16px;
   justify-content: center;
}

/* Input */

input {
   background: var(--black)!important;
   color: var(--white)!important;
   height: 48px!important;
   padding: 0 16px!important;
   border-radius: 0!important;
   border: inset 1px solid rgba(255,255,255,.1)!important;
}

/* --------------- ícones */
.icon-shopping-cart::before {
   content: "";
   background: url(https://cdn.awsli.com.br/2923/2923109/arquivos/cart.svg) center no-repeat;
   background-size: 100%;
   width: 24px;
   height: 24px;
}

.icon-user::before {
   content: "";
   background: url(https://cdn.awsli.com.br/2923/2923109/arquivos/user.svg) center no-repeat;
   background-size: 100%;
   width: 24px;
   height: 24px;
}

.icon-search::before {
   content: "";
   background: url(https://cdn.awsli.com.br/2923/2923109/arquivos/search.svg) center no-repeat;
   background-size: 100%;
   width: 24px;
   height: 24px;
}

/* --------------- Ajustes gerais */

/* Cabeçalho */

#cabecalho .conteiner .conteudo-topo > .superior {
   display: none !important;
}

#cabecalho {
   background: var(--black);
}

#cabecalho .conteudo-topo .inferior {
   display: flex;
   align-items: center;
   margin: 0;
}

.carrinho>a > span {
   display: none !important;
}

#cabecalho .conteudo-topo .inferior .span4.hidden-phone {
   width: max-content;
   margin: 0;
}

.carrinho {
   border: 0;
   background: none;
}

.carrinho a {
   display: flex;
   align-items: center;
}

.carrinho>a i {
   width: 24px;
   height: 24px;
   background: none;
   line-height: 24px;
   font-size: 0;
}

.carrinho>a strong {
   color: var(--black);
   background: var(--brand-color);
   width: 24px;
   height: 24px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 12px;
   font-weight: 600;
}

.logo a {
   height: 60px;
}

.menu.superior {
   margin: 0;
   padding: 0;
   flex: 1;
   background: none;
}

.menu.superior .nivel-um {
   display: flex;
   gap: 10px;
   align-items: center;
}

.menu.superior .nivel-um li {
   border: 0;
}

.menu.superior .nivel-um li strong {
   color: var(--white);
}

#cabecalho > .conteiner > .row-fluid > .span3 {
   width: 170px;
}

/* Banners */

/* Começa texto do banner */
.banner-text {
   position: absolute;
   left: 0;
   bottom: 0;
   padding: 40px;
   display: flex;
   flex-direction: column;
   gap: 24px;
}

.bn-text-price {
   display: flex;
   flex-direction: column;
   font-size: 24px;
   color: #fff;
   gap: 4px;
}

.bt-t-button {
   width: fit-content;
}

/* Termina texto do banner */