@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
   --bg-color: #1E1E1E;
   --text-color: #FFFFFF;
   --brand-color: #B9F501;
   --black: #1E1E1E;
   --white: #FFFFFF;
   --grey: #4C4C4C;
}

body {
   background-color: var(--bg-store-color);
   font-family: "Chakra Petch", sans-serif;
   background: var(--black);
}

p,
span,
a,
strong,
label,
h1,
h2,
h3,
h4,
h5,
h6,
.titulo,
.cor-secundaria {
   font-family: "Chakra Petch", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: var(--white);
}

/* ------------------- Components */

/* Container geral */
.conteiner {
   max-width: 100%;
   padding: 0 16px;
}

/* Botão */

.botao, .btn {
   background: var(--brand-color)!important;
   color: var(--black)!important;
   padding: 12px 24px;
   border: 0;
   border-radius: 0;
   height: 48px!important;
   box-sizing: border-box;
   display: flex;
   align-items: center;
   font-size: 16px;
   justify-content: center;
}

/* Input */

input {
   background: var(--black)!important;
   color: var(--white)!important;
   height: 48px!important;
   padding: 0 16px!important;
   border-radius: 0!important;
   border: 1px solid rgba(255,255,255,.1)!important;
   font-family: "Chakra Petch", sans-serif;
}

input:focus {
   box-shadow: 0 0px 10px var(--brand-color)!important;
   border: 1px solid var(--brand-color)!important;
}

/* --------------- ícones */
.icon-shopping-cart::before {
   content: "";
   background: url(https://cdn.awsli.com.br/2923/2923109/arquivos/cart.svg) center no-repeat;
   background-size: 100%;
   width: 24px;
   height: 24px;
}

.icon-user::before {
   content: "";
   background: url(https://cdn.awsli.com.br/2923/2923109/arquivos/user.svg) center no-repeat;
   background-size: 100%;
   width: 24px;
   height: 24px;
}

.icon-search::before {
   content: "";
   background: url(https://cdn.awsli.com.br/2923/2923109/arquivos/search.svg) center no-repeat;
   background-size: 100%;
   width: 24px;
   height: 24px;
}

/* --------------- Ajustes gerais */

/* Cabeçalho */

#barraTopo {
   display: none !important;
}

#cabecalho {
   background: var(--black);
   border-bottom: 1px solid rgba(255, 255, 255, .1);
   position: sticky;
   z-index: 10000;
   top: 0;
}

#cabecalho .conteiner .conteudo-topo > .superior {
   display: none !important;
}

#cabecalho {
   background: var(--black);
}

#cabecalho .conteudo-topo .inferior {
   display: flex;
   align-items: center;
   margin: 0;
   gap: 32px;
}

.carrinho>a > span {
   display: none !important;
}

#cabecalho .conteudo-topo .inferior .span4.hidden-phone {
   width: max-content;
   margin: 0;
   display: flex;
   align-items: center;
}

.carrinho {
   border: 0;
   background: none;
}

.carrinho > a {
   display: flex;
   align-items: center;
   gap: 4px;
}

.carrinho>a i {
   width: 24px;
   height: 24px;
   background: none;
   line-height: 24px;
   font-size: 0;
}

.carrinho>a strong {
   color: var(--black);
   background: var(--brand-color);
   width: 24px;
   height: 24px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 12px;
   font-weight: 600;
   margin: 0;
}

.logo a {
   height: 60px;
}

.menu.superior {
   margin: 0;
   padding: 0;
   flex: 1;
   background: none;
}

.menu.superior .nivel-um {
   display: flex;
   gap: 10px;
   align-items: center;
}

.menu.superior .nivel-um li {
   border: 0;
}

.menu.superior .nivel-um li strong {
   color: var(--white);
}

#cabecalho > .conteiner > .row-fluid > .span3 {
   width: 170px;
}

#cabecalho .span8.busca-mobile {
   max-width: 250px;
   margin: 0;
}

.busca #form-buscar {
   display: flex;
   width: 100%;
}

.busca {
   border: 0;
   padding: 0;
   background: none;
}

.busca .botao-busca {
   right: 1px;
   top: 1px;
   background: transparent!important;
   padding: 12px 16px;
}

#cabecalho .conteudo-topo.span9 {
   width: 100%;
}

#cabecalho > .conteiner > .row-fluid {
   display: flex;
   align-items: center;
}

#cabecalho .conteudo-topo .inferior:before, #cabecalho .conteudo-topo .inferior:after {
   display: none;
}

a.h-user {
   font-size: 14px;
   color: var(--white);
   font-weight: 600;
   height: 48px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 8px;
   text-decoration: none;
}

/* Banners */

/* Começa texto do banner */
.banner-text {
   position: absolute;
   left: 0;
   bottom: 0;
   padding: 40px;
   display: flex;
   flex-direction: column;
   gap: 24px;
}

.bn-text-price {
   display: flex;
   flex-direction: column;
   font-size: 24px;
   color: #fff;
   gap: 4px;
}

.bt-t-button {
   width: fit-content;
}

.bn-t-price {
   color: var(--brand-color)
}

.secao-banners .conteiner {
   padding: 16px;
}

.banner .flex-control-paging li a {
   background: #fff;
   opacity: .6;
   width: 20px;
   height: 3px;
   border: 0;
   position: relative;
}

.banner .flex-control-paging li a.flex-active {
   width: 32px;
   height: 3px;
   background: var(--brand-color);
   border: 0;
   opacity: 1;
}

.flex-direction-nav .flex-prev {
   position: relative;
   left: 0;
   opacity: 1;
   margin: 0;
   background: url(https://cdn.awsli.com.br/2923/2923109/arquivos/chevron-left.svg) center no-repeat;
   width: 40px;
   height: 40px;
   background-color: var(--brand-color);
}

.flex-direction-nav .flex-next {
   opacity: 1;
   right: 0;
   position: relative;
   margin: 0;
   background: url(https://cdn.awsli.com.br/2923/2923109/arquivos/chevron-right.svg) center no-repeat;
   width: 40px;
   height: 40px;
   background-color: var(--brand-color);
}

.flexslider:hover .flex-direction-nav .flex-prev {
   left: 0;
}

.flexslider:hover .flex-direction-nav .flex-next {
   right: 0;
}

.banner .flex-control-nav {
   width: max-content;
   position: relative;
   padding: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   right: 0;
   bottom: 0;
}

.banner .flex-direction-nav:before,
.banner .flex-direction-nav:after {
   display: none;
}

.banner .flex-direction-nav {
   position: absolute;
   right: 40px;
   bottom: 40px;
   display: flex;
   align-items: center;
   gap: 24px;
}

.mini-banner .modulo.span4:nth-child(3) {
   display: none!important;
}

.mini-banner .modulo.span4 {
   width: 100%;
   margin: 0;
}

.mini-banner {
   display: flex;
   gap: 16px;
}

.mini-banner:before, .mini-banner:after {
   display: none;
}

.mini-banner > div:not(.modulo.span4) {
   display: none;
}

/* Termina texto do banner */



/* Listagem */

.listagem .span3 .imagem-produto, .listagem .produtos-carrossel[data-produtos-linha="4"] .imagem-produto {
   height: fit-content;
   width: 100%;
}

.listagem .imagem-produto img {
   position: relative;
   width: 100%;
}

.listagem .listagem-item {
   margin: 0;
   padding: 0;
}

.listagem .listagem-linha>ul {
   margin-left: 0;
}

.listagem .titulo-categoria {
   font-size: 28px;
   background: none !important;
   padding: 0 !important;
   height: 60px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
   border: 0;
   margin: 48px 0 32px !important;
}

.listagem .vitrine-lancamento:after {
   content: "Confira o que há de novo no mundo dos games.";
   display: block;
   font-size: 16px;
   color: var(--white);
}

#listagemProdutos {
   padding: 0 32px;
   display: flex;
   flex-direction: column;
   gap: 24px;
}